spring.application.name=pie-backend
spring.datasource.url=jdbc:postgresql://localhost:5432/pie_database
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

## HIBERNATE
spring.jpa.hibernate.ddl-auto=update

## LOGS - DEPURATION
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

## OPTIMIZATION
spring.jpa.open-in-view=true